@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

.logo
{
	height: 15%;
	width: 15%;
  cursor: pointer;
}

a.navbar-brand {
  cursor: pointer !important;
}

body
{
  background-image: url('../img/kuno_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

nav .navbar-brand {
    cursor: pointer;
}

.lds-ripple {
  position: fixed; 
  top:0;
  left:0; 
  right:0; 
  bottom:0;     
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
  overflow-y: hidden;
  /* background: ; */
}
/* .lds-ripple #loader {
    background: black;

} */


.navbar-nav .nav-item .nav-link
{
	margin-left: 1.5em;
}

.navbar-nav .nav-item .nav-link :hover
{
	color:#924F50
}

.navbar-nav .nav-item .nav-link div
{
	font-weight: 600;
}

.navbar-nav .nav-item .nav-link .fa-2x
{
	
	font-size: 150%;
	color: tomato;
}


.navbar .navbar-brand span
{
	font-weight: bold;
}

.container-fluid .row .col-sm-8 .card .list-group li:hover
{
	background-color: #E6E9F4
}


.container-fluid .row .col-sm-8 .client_head
{
	margin-left: 35%;
}


/*
==================================================
			Defined colors
==================================================
*/

.text-tomato
{
  color: tomato;
}

.bg-tomato
{
  background-color: tomato;
}

.btn-tomato
{
  background-color: tomato;
  color: white;
  transition: 0.6s ease;
}

.btn-tomato:hover
{
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
}

.border-tomato
{
  border: 1px solid tomato;
}

.border-tomato:focus
{
  border: 1px solid tomato;
}

.btn-tomato-o
{
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
  transition: 0.6s ease;
}

.btn-tomato-o:hover
{
  background-color: tomato;
  color: white;
}


.badge-tomato
{
  color: white;
  background-color: tomato;
}

.bg-chocolate
{
  background-color: whitesmoke;
}

/*testing*/
.modal-header, .modal-footer
{
  border: none;
}

.modal-footer {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.modal-header .modal-title {
  text-align: center;
}

.modal-body {
  
}

.modal-body .row .time-show
{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}

.modal-body .row .start-task,
.modal-body .row .pause-task
{
  text-align: center;
}

.modal-body .row .task-comment textarea
{
	margin-left: 1em;
	margin-top: 1.5em;
	width: 29em;
	height: 8em;
	resize: none;
	border: tomato solid 1px;
}

.btn-float
{
	position: fixed;
	right: 2%;
	bottom: 5%;
	border-radius: 50px;
	background-color: tomato;
}

#employees_view .row
{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 10% auto;
}

#employees_view .card {
  margin: 10px;
  padding: 0 !important;
}

#employees_view .card h5 {
	font-size: 20px;
	color: #222;
}

#employees_view .card .card-body ol li {
	font-size: 18px;
	font-weight: bolder;
	padding: 0 !important;
	cursor: pointer;
}

#client_tasks {
	margin-top: 7%;
}

#client_tasks .tasks-to-do .client-name h1 {
	color: #fff;
	margin: 0;
	font-family: 'Abril Fatface', sans-serif;
	letter-spacing: 2px;
	font-size: 45px;
}

#client_tasks .tasks-to-do .client-name span {
	color: #e6e6e6;
}

#client_tasks .tasks-to-do .client-name span b {
	color: tomato;
}

#client_tasks #task-action span {
  font-size: 25px;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  font-weight: 600;
  color: #222;
  padding: 0.3em;
  border-radius: 5px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.daily-history {
	background-color: #fff;
	padding: 0.5em;
}

.daily-history .tasks-done .actual-task {
	background-color: #222;
	padding: 0.5em;
	border-radius: 5px;
	margin: 10px 10px;
  position: relative;
}

.daily-history .tasks-done .actual-task h4 {
	color: #fff;
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
}

.daily-history .tasks-done .actual-task small {
	color: tomato;
	font-size: 16px;
}

.time-taken {
  position: absolute;
  right: 20px;
}

.no-content {
	color: #ccc;
	font-size: 18px;
}

.scrollable {
  overflow-y: auto;
  max-height: 150px;
}

/* width */
.scrollable::-webkit-scrollbar {
  width: 10px;
 
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  box-shadow: solid 0 0 5px grey; 
  margin-left: 5%;

}
 
/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: tomato; 
  height: 5px;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgb(91, 197, 91); 
}
.modal-body .row .task-comment textarea::placeholder
{
  color: tomato;
}

*,
:after,
:before {
  box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  clear: both;
  display: block
}


.button-pull {
  right: 15px;
  z-index: 20;
  width: 45px;
  bottom: 15px;
  height: 45px;
  display: block;
  position: fixed;
  line-height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75)
}

.card {
  border-radius: 5px !important;
}

.card-header {
  background-color: #f2f2f2 !important;
  color: #000 !important;
  border-radius: 0 !important;
  /*border: none;*/
  text-align: center;
  padding: 0.5em;
}

.login-btn {
  background-color: tomato;
  border: none;
  border-radius: 0;
  color: #fff;
  padding: 0.3em 2em;
}

.login-btn:hover {
  background-color: #222;
  color: #fff;
}

#add_user
{
  z-index: 9999;
}

.mask {
  z-index: 21;
  color: #fff;
  width: inherit;
  height: inherit;
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  background: tomato;
  transition: all .1s ease-in-out 0s
}

.button-pull.active .mask {
  background: tomato;
  transform: rotate(-135deg)
}

.button-pull:after {
  top: 0;
  left: 0;
  content: '';
  width: inherit;
  height: inherit;
  border-radius: 50%;
  position: absolute;
  background: tomato;
  transition: all .1s ease-in-out 0s
}

.button-pull.active:after {
  top: -125px;
  left: -125px;
  width: 350px;
  height: 350px
}

.pull-item {
  top: 0;
  left: 0;
  z-index: 19;
  width: 45px;
  height: 45px;
  color: #fff;
  font-size: 24px;
  transform: none;
  line-height: 45px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  transition: all .3s cubic-bezier(.68, 1.55, .265, 1)
}

.button-pull a:hover {
  cursor: pointer;
  color: #e6e6e6;
  transition: 0.7s ease;
}

.button-pull.active .nav-count-1 {
  transform: translate(10px, -100px)
}

.button-pull.active .nav-count-2 {
  transform: translate(-35px, -80px)
}

.button-pull.active .nav-count-3 {
  transform: translate(-80px, -45px)
}

.button-pull.active .nav-count-4 {
  transform: translate(-100px, 0)
}

.pull-left {
  float: left
}

.pull-right {
  float: right
}

.html,
.invisible {
  display: none
}

.html.visible,
.visible {
  display: block
}

/* user modal */
.user-section form {
	
}

.user-section form .col-sm-offset-1 {
	height: 200px;
	margin-top: 10px;
}

.user-section form .col-sm-offset-1 input {
  margin-bottom: 10px;
}

.user-section form .col-sm-offset-1 input::placeholder {
  font-style: normal;
  color: #b3b3b3;
}


.user-section form button:hover i{
	position: relative;
	right: -3px;
}

.user-section form a {
	color: white;
}

/* .user-section .container form
{
  padd
} */


.p {
  text-align: center;
  margin-top: 120px;
}


/* client modal */
.client-section form {

}

.client-section form p {
	text-align: left;
	font-style: italic;
}

.client-section form input::placeholder {
  font-style: normal;
  color: #b3b3b3;
}

.client-section form input,
.client-section form select {
  margin-bottom: 10px;
}

.client-section form #check-task {
  height: 200px;
  overflow-y: scroll;
}

.client-section form button:hover i{
	position: relative;
	right: -3px;
}

.client-section form a {
	color: white;
}

/* .user-section .container form
{
  padd
} */


.p {
  text-align: center;
  margin-top: 120px;
}

.task-section form p {
	padding: 7px 0;
	text-align: left;
	font-style: italic;
}

.task-section form .col-sm-offset-1 {
	margin-top: 10px;
}

.task-section form .col-sm-offset-1 .input-group span {
	margin-right: 10px;
}

.task-section form .col-sm-offset-1 .input-group input::placeholder {
  font-style: normal;
  color: #b3b3b3;
}

.task-section form .col-sm-offset-1 .input-group input {
  border-radius: 5px 0 0 5px;
}

.task-section form .input-group button {
  border-radius: 0 5px 5px 0;
}

.task-section form button:hover i{
	position: relative;
	right: -3px;
}

.task-section form a {
	color: white;
}

#task-importance {
  margin-left: 21%;
}

#client_name
{
  margin-left: 8%;
}

#task-deadline
{
  margin-left: 3%;
}

/* .user-section .container form
{
  padd
} */


.p {
  text-align: center;
  margin-top: 120px;
}



#list-of-clients {
  right: 0;
  list-style:none;
  margin-top:-3px;
  padding:0;
  width:80%;
  position: absolute;
  background-color: ivory;
  border-radius: 5px;

}
#list-of-clients li {
  padding: 10px; 
  background: #ffffff; 
  border-bottom: #bbb9b9 1px solid;
}
#list-of-clients li:hover {
  background:#ffffff;
  cursor: pointer;
}
#client_name {
  padding: 10px;
  border: #a8d4b1 1px solid;
  border-radius:4px;
}

datalist {
  z-index: 9999999;
  margin-top: 11%;
  
}

.clients-employee-li
{
  cursor: pointer;
}

ul .clients-employee-li:hover
{
  background-color: rgba(192, 191, 144, 0.815);
}

#task_history {
  margin-top: 100px;
  z-index: -1;
}

#task_history .content {
  margin-top: 100px;
  padding-top: 100px;
  margin-left: 10px;
}

#task_history .paused-tasks {
  width: 350px;
  position: fixed;
  right: 3px;
  top: 100px;
}

.paused-tasks {
	background-color: #fff;
	padding: 0.5em;
}

#task_history .paused-tasks .daily-history .actual-task {
	background-color: #000;
	padding: 0.5em;
	border-radius: 5px;
  position: relative;
}

#task_history .paused-tasks .daily-history .actual-task h4 {
	color: #fff;
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
}

#task_history .paused-tasks .daily-history .actual-task .client-attandee {
	line-height: 17px;
}

#task_history .paused-tasks .daily-history .actual-task .client-attandee small {
	color: #b3b3b3;
	font-size: 16px;
}

#task_history .paused-tasks .daily-history .actual-task .client-attandee small span {
	color: tomato;
	font-weight: bold;
}

#task_history .page-title {
  background-color: #fff;
  width: 800px;
  margin-bottom: 20px;
  padding: 0.5em;
  position: fixed;
  z-index: +1;
  border-radius: 5px;
}

#task_history .page-title h2 {
  font-size: 30px;
  color: #222;
  text-align: center;
}

#task_history .page-title .select-date {
  list-style-type: none;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  display: flex;
  text-align: center;
  width: 100%
}

#task_history .page-title .select-date li {
  display: inline-block;
  padding: 5px 30px;
  margin-left: 10px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 1px 2px 2px rgba(0,0,0,0.5);
}

#task_history .page-title .select-date li:hover {
  background-color: #222;
  transition: all 0.7s ease;
}

.active-date {
  color: tomato !important;
  transform: translate(5px);
}

#task_history .task {
  background-color: #000;
  padding: 0.5em;
  width: 780px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0.1rem rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  position: relative;
  margin: 
}

#task_history .task .header {
  line-height: 15px;
}

#task_history .task .header h1 {
  margin: 0;
  color: #e6e6e6;
  padding: 0;
}

#task_history .task small {
  font-size: 18px;
  color: #e6e6e6;
}

#task_history .task small span {
  font-weight: bolder;
  color: tomato;
}

#task_history .task p {
  color: #b3b3b3;
  line-height: 18px;
  margin-top: 10px;
}

#task_history .task .date-and-time {
  display: block;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 0.5em;
  line-height: 18px;
}

#task_history .task .date-and-time span {
  margin: 0;
  padding: 0;
  color: tomato;
}

#task_history .task .date-and-time span:first-child {
  color: white;
}

/* Snackbar */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 3em;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.profile-container {
    margin-top: 7%;
    margin-left: 3%;
    position: fixed;
    background-color: #dfdede63;
}

.profile-inner h1 {
    font-size: 3em;
    color: #fff;
    padding: 0.2em;
}

.profile-inner{
    margin-left: 1em;
    margin-right: 1em;
}

.profile-inner .email-view {
    margin-left: 4%;
    font-size: 1.2em;
    color: #f2f2f2;
}

.profile-inner .password-view {
    margin-left: 1.2em;
    background-color: #709c6af8;
}


.profile-inner .password-view .password-caption{
    font-size: 1.5em;
}

.profile-inner .password-view input{
    font-size: .8em;
    font-style: italic;
    margin-left: .5em;
    margin-right: .5em;
    background-color: transparent;
}

.profile-inner .password-view input::placeholder{
    font-size: .8em;
    font-style: italic;
    margin-left: .5em;
    margin-right: .5em;
    background-color: transparent;
    color: #fff;
}

.profile-inner .password-view input:focus{
    font-size: .8em;
    font-style: italic;
    margin-left: .5em;
    margin-right: .5em;
    background-color: transparent;
    color: #fff;
    box-shadow: none;
}

.profile-inner .password-view .d-flex .save-password {
    color: #fff;
    background-color: rgb(15, 97, 40);
    border: none;
    padding: .3em 2em;
    border-radius: .2em;
    right: 0;
}


.profile-inner .password-view label{
    font-size: .8em;
    font-style: italic;
    margin-left: .5em;
}

